/* @media(max-width:3800px) and (min-width:1441px) {
    .quality .bg-img {
        top: -150px;
        background-image: url(../img/bg-svg/quality-01.svg) !important;
    }
}

@media(max-width:3800px) and (min-width:2080px) {
    .quality .bg-img {
        top: -150px;
        height: 1850px;
    }
} */

@media(max-width:1200px) {
    .digitizing .dig1::before {
        transform: rotate(338deg);
    }

    .digitizing .dig2::before {
        bottom: 34%;
        right: -40%;
        width: 175px;
        height: 100px;
        transform: rotate(15deg);
    }

    .digitizing .two-btn .btn2 {
        top: -80px;
        left: 80px;
    }
}

@media(max-width:1100px) {
    .digitizing .dig1::before {
        transform: rotate(327deg);
    }

    .digitizing .two-btn .btn1 {
        top: -40px;
        left: -15px;
    }

    .digitizing .dig2::before {
        bottom: 34%;
        right: -40%;
        width: 175px;
        height: 100px;
        transform: rotate(20deg);
    }

    .digitizing .two-btn .btn2 {
        top: -80px;
        left: 20px;
    }
}

@media(max-width:991px) {

    h1,
    h1 span {
        font-size: 40px;
        line-height: 150%;
    }

    h2 {
        font-size: 40px;
    }

    h3,
    h3 span {
        font-size: 20px;
        line-height: 135%;
    }

    h4,
    h4 span {
        font-size: 18px;
    }

    h5 {
        font-size: 20px;
    }

    .slider-arrows .prev {
        left: 2%;
    }

    .slider-arrows .next {
        right: 2%;
    }

    /* ----- popup ---  */
    .popup,
    .popup1,
    .popup2 {
        width: 80%;
    }

    /* --------header-------  */

    header .navbar .container {
        max-width: 100%;
        padding: 0;
    }

    header .nav-flex {
        display: flex;
        width: 100%;
        padding: 0 20px;
        justify-content: space-between;
    }

    header .nav-flex .btn {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        padding: 8px 28px;
        color: var(--cf);
        border-radius: 30px;
        font-family: 'P-Regular';
        border: 1px solid var(--cf);
    }

    header .navbar-nav {
        align-items: start;
        padding: 20px 32px;
        /* color: ; */
        background-color: var(--c1);
    }

    header .navbar-toggler {
        border: none;
    }

    header .navbar-toggler:focus {
        box-shadow: unset;
    }

    header .navbar-nav li {
        margin-bottom: 16px;
    }

    header .navbar-nav li:nth-last-child(2) {
        margin-bottom: 0;
    }

    header .navbar-nav li:last-child {
        display: none;
    }

    /* ---- Start About _us Page ----  */

    header .bg-img {
        height: 690px;
    }

    .banner_hero {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .social-icon {
        display: none;
    }

    /* ---- quality ---  */
    .quality {
        padding-bottom: 120px;
    }

    .quality .bg-img {
        height: 1402px;
        top: -80px;
    }

    .quality .shirt-img {
        text-align: center;
    }

    .quality .product-wrap {
        left: 0;
    }

    /* .who-we ---  */
    .who-we .bg-img {
        top: -150px;
        height: 1220px;
    }

    .who-we .who-img {
        display: none;
    }

    /* --- what_we_do ---  */
    .what-do {
        margin-bottom: 60px;
    }

    .what-do img {
        width: 100%;
    }

    .what-do .txt {
        margin-bottom: 24px;
    }

    .what-do .mrg-btm {
        margin-bottom: 0;
    }

    .what-do .row:nth-last-child(2) {
        margin-bottom: 32px;
        flex-direction: column-reverse;
    }

    .printing .shirt::before {
        display: none;
    }

    .printing .shirt {
        padding-bottom: 80px;
    }

    .printing .lock-btn {
        position: absolute;
        top: auto;
        right: 0;
        left: 0;
        bottom: 5%;
    }

    .printing .lock-btn p {
        top: auto;
        left: auto;
        transform: rotate(0deg);
    }

    .pricing .bg-img {
        height: 1850px;
    }

    .pricing .wrap {
        margin-bottom: 20px;
    }

    .pricing .col-md-6:last-child .wrap {
        margin-bottom: 0;
    }

    .digitizing {
        padding-bottom: 48px;
    }

    .digitizing .img::before {
        display: none;
    }

    .digitizing .two-btn .btn1 {
        top: 80px;
        left: -15px;
    }

    .digitizing .two-btn .btn2 {
        top: 80px;
        left: -15px;
    }

    .inset-sbs {
        padding-bottom: 120px;
    }

    .inset-sbs .arrow {
        top: -1%;
    }

    .inset-sbs .bg-img {
        height: 1400px;
    }

    .inset-sbs img {
        margin: auto;
    }

    .inset-sbs .txt {
        text-align: center;
        margin-top: 20px;
    }

    .inset-sbs .slick-dots {
        text-align: center;
        left: auto;
        bottom: -60px;
        width: 100%;
    }

    .inset-sbs .slick-dots li button {
        width: 32px;
        height: 32px;
    }

    .inset-sbs .slick-dots li button:before {
        font-size: 60px;
        width: 32px;
        height: 32px;
    }

    .inset-sbs .slick-dots li.slick-active {
        top: 0;
        height: 32px;
    }

    .inset-sbs .slick-dots li.slick-active button {
        width: 32px;
        height: 34px;
    }

    .inset-sbs .slick-dots li.slick-active button:before {
        font-size: 86px;
        width: 32px;
        height: 32px;
    }

    .process .bg-img {
        height: 830px;
    }

    .process .wrap {
        margin-bottom: 30px;
    }

    .process .txt p {
        font-size: 16px;
    }

    .blog .slick-slide.slick-current .item {
        transform: scale(1);
    }

    .slider-arrows .slider-arrow {
        top: 64%;
    }

    .blog .item {
        padding: 0 40px;
    }

    .blog .img img {
        border-radius: 20px;
    }

    .blog .date p {
        border-radius: 0px 0px 0px 20px;
    }

    .blog .txt {
        padding: 0 15px;
        text-align: center;
    }

    /* ---- End About _us Page ----  */


    /* ---- Start Service Page ----  */
    .service .txt {
        margin-top: 20px;
    }

    .service .wrap h5 {
        margin-bottom: 10px;
    }

    .service .wrap .btn {
        margin-top: 24px;
        margin-bottom: 0;
    }

    .service .wrap {
        margin-bottom: 28px;
    }

    .service .col-md-6:nth-last-child(3) .wrap {
        margin-bottom: 28px;
    }

    .service .col-md-6:nth-last-child(2) .wrap,
    .service .col-md-6:nth-last-child(1) .wrap {
        margin-bottom: 0;
    }

    /* ---- End Service Page ----  */



    /* ---- Start faqs Page ----  */


    .faqs h4 {
        font-size: 36px;
    }


    /* ---- End faqs Page ----  */






    /* ---- Footer ----  */

    /* footer .row:first-child .col-lg-6 {
        display: none;
    } */
    footer .wrap {
        text-align: center;
    }

    footer .row:first-child .txt {
        text-align: center;
        max-width: 100%;
    }

    footer .row:first-child .img {
        text-align: center;
    }

    footer .footer-detial {
        border: none;
        margin-top: 0;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    footer .footer-detial .col-lg-4 {
        display: flex;
        justify-content: center !important;
        margin-bottom: 20px;
    }

    footer .footer-bottom {
        margin-top: 0px;
        padding-bottom: 32px;
    }

    footer .footer-bottom .row {
        flex-direction: column-reverse;
    }

    footer .footer-bottom ul {
        justify-content: center;
    }

    footer .footer-bottom .col-lg-7 {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    footer .footer-bottom p {
        position: relative;
        display: inline-block;
        padding-left: 69px;
    }

    footer .footer-bottom p span {
        position: absolute;
        top: 0;
        left: 0;
    }

    footer .footer-bottom p span img {
        max-width: 64%;
    }
}

@media(max-width:767px) {

    /* header {
        padding-top: 20px;
    } */

    header .nav-flex .btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        padding: 6px 20px;
        color: var(--cf);
        border-radius: 30px;
        font-family: 'P-Regular';
        border: 1px solid var(--cf);
    }

    .popup,
    .popup1,
    .popup2 {
        width: 90%;
    }
    .sig-up label, .sig-up p,.sig-up a{
        font-size: 16px;
    }

    .home_hero {
        padding-top: 160px;
        padding-bottom: 210px;
    }

    .home_hero .bg-img {
        height: 520px;
    }

    .quality {
        margin-top: -190px;
    }

    .quality .bg-img {
        height: 1150px;
    }

    .quality .product-wrap {
        left: 2%;
        bottom: 4%;
        width: 32%;
    }

    .quality .shirt-img img {
        max-width: 75%;
        margin: auto;
    }

    .quality .product-wrap {
        width: 25%;
    }

    .quality .product-wrap .txt {
        padding: 8px 4px 15px;
    }

    .quality .product-wrap h6 {
        font-size: 10px;
        line-height: 110%;
        margin-bottom: 4px;
    }

    .quality .product-wrap p {
        font-size: 14px;
    }

    .quality .title_sec h3,
    .quality .title_sec h3 span {
        font-size: 20px;
        line-height: 150%;
    }

    .service {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    /* ---- Start Our Service Page ----  */
    .service .col-md-6:nth-last-child(3),
    .service .col-md-6:nth-last-child(2) {
        margin-bottom: 28px;
    }


    /* ---- End Our Service Page ----  */


    /* ---- End faqs Page ----  */
    .faqs {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .faqs .accordion-item {
        padding: 16px 20px;
    }

    .faqs .faqs-wrap h2,
    .faqs .faqs-wrap h2 .accordion-button {
        font-size: 20px;
        line-height: 130%;
    }

    .faqs .faqs-wrap .txt1 {
        padding: 20px 20px;
        align-self: center;
    }

    .faqs .faqs-wrap .txt2 {
        padding: 20px 8px 20px 0px;
    }

    /* ---- End faqs Page ----  */

    /* -------------------------- */


    .digitizing .two-btn .bbtn {
        font-size: 14px;
        padding: 10px 28px;
        left: 0;
    }

    .pricing .nav-tabs {
        flex-wrap: nowrap;
        overflow-x: scroll;
        white-space: nowrap;
        margin-bottom: 20px;
    }

    .pricing .nav-tabs .nav-link {
        padding: 10px 24px;
        font-size: 12px;
    }

    .pricing .bg-img {
        height: 2350px;
    }

    .who-we .img {
        text-align: center;
    }



    .easty-step .wrap .txt {
        padding: 0 32px;
    }

    .digitizing .two-btn {
        position: relative;
    }

    .digitizing .two-btn .bbtn {
        position: absolute;
        top: 30px;
        left: 0;
    }

    .digitizing .two-btn .btn2 {
        left: auto;
        right: 0;
    }

    footer .txt p {
        font-size: 14px;
    }

    footer .footer-detial p {
        font-size: 14px;
    }

    footer .footer-detial p spans {
        display: block;
    }
}