/* @media(max-width:3800px) and (min-width:1441px) {
    .quality .bg-img {
        top: -150px;
        background-image: url(../img/bg-svg/quality-01.svg) !important;
    }
}

@media(max-width:3800px) and (min-width:2080px) {
    .quality .bg-img {
        top: -150px;
        height: 1850px;
    }
} */

@media(max-width:1200px) {
    .digitizing .dig1::before {
        transform: rotate(338deg);
    }

    .digitizing .dig2::before {
        bottom: 34%;
        right: -40%;
        width: 175px;
        height: 100px;
        transform: rotate(15deg);
    }

    .digitizing .two-btn .btn2 {
        top: -80px;
        left: 80px;
    }
}

@media(max-width:1100px) {
    .digitizing .dig1::before {
        transform: rotate(327deg);
    }

    .digitizing .two-btn .btn1 {
        top: -40px;
        left: -15px;
    }

    .digitizing .dig2::before {
        bottom: 34%;
        right: -40%;
        width: 175px;
        height: 100px;
        transform: rotate(20deg);
    }

    .digitizing .two-btn .btn2 {
        top: -80px;
        left: 20px;
    }
}

@media(max-width:991px) {

    h1,
    h1 span {
        font-size: 40px;
        line-height: 150%;
    }

    h2 {
        font-size: 40px;
    }

    h3,
    h3 span {
        font-size: 40px;
        line-height: 135%;
    }

    h4,
    h4 span {
        font-size: 18px;
    }

    h5 {
        font-size: 20px;
    }

    .slider-arrows .prev {
        left: 2%;
    }

    .slider-arrows .next {
        right: 2%;
    }

    /* ----- popup ---  */
    .popup,
    .popup1,
    .popup2 {
        width: 80%;
    }

    /* --------header-------  */

    header .navbar .container {
        max-width: 100%;
        padding: 0;
    }

    header .nav-flex {
        display: flex;
        width: 100%;
        padding: 0 20px;
        justify-content: space-between;
    }

    header .nav-flex .btn {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        padding: 8px 28px;
        color: var(--cf);
        border-radius: 30px;
        font-family: 'P-Regular';
        border: 1px solid var(--cf);
    }

    header .navbar-nav {
        position: relative;
        align-items: start;
        padding: 20px 32px 32px;
        /* color: ; */
        z-index: 4;
        background-color: var(--c1);
        margin-bottom: 0 !important;
        box-shadow: 0px 0px 5px 0px lightblue;
    }

    header .nav-tb-collapse .top {
        display: none;
    }

    header .navbar-toggler {
        border: none;
    }

    header .navbar-toggler:focus {
        box-shadow: unset;
    }

    header .navbar-nav li {
        width: 100%;
        margin-bottom: 16px;
    }

    header .navbar-nav li:nth-last-child(2) {
        margin-bottom: 0;
    }

    header .navbar-nav li:last-child {
        display: none;
    }

    header .navbar-nav .nav-link.active::before,
    header .navbar-nav .nav-link:hover::before {
        left: 12px;
        right: auto;
    }


    header .navbar-nav .dropdown-menu {
        background-color: transparent;
    }

    /* header .navbar-nav .dropdown-menu li{
    } */
    header .navbar-nav .dropdown-menu li a {
        color: var(--cf);
    }

    header .navbar-nav .dropdown-menu li::before {
        width: auto;
    }

    /* ---- Start About _us Page ----  */

    /* header .bg-img {
        height: 690px;
    } */

    .banner_hero {
        padding-top: 120px;
        padding-bottom: 80px;
    }

    .social-icon {
        display: none;
    }

    .home_hero {
        padding-top: 230px;
        padding-bottom: 160px;
    }

    /* ---- quality ---  */
    .quality .row {
        flex-direction: column-reverse;
    }

    .quality h2 {
        font-size: 48px;
        margin-bottom: 40px;
        line-height: 60px;
    }

    .quality .img {
        text-align: center;
    }


    /* .we-make ---  */
    .we-make {
        padding-top: 110px;
        padding-bottom: 80px;
    }

    .we-make .bg-img {
        height: 820px;
    }

    .we-make .row {
        flex-direction: column-reverse;
    }

    .we-make .img {
        text-align: center;
    }

    /* --- what_we_do ---  */
    .brands {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .brands .brands-logo {
        justify-content: center;
        margin-top: 40px;
    }

    .brands .brands-logo .img {
        text-align: center;
    }

    /* ----------  */

    .easty-step .wrap {
        margin-bottom: 34px;
    }

    .easty-step .col-md-6:last-child .wrap {
        margin-bottom: 0;
    }


    /* ----------------  */
    .we-offer {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .we-offer .txt {
        margin-bottom: 40px;
    }

    /* .we-offer img:last-child{
        margin-bottom: 14px;
    } */

    /* ---- Start Service Page ----  */
    .service .txt {
        margin-top: 20px;
    }

    .service .wrap h5 {
        margin-bottom: 10px;
    }

    .service .wrap .btn {
        margin-bottom: 0;
    }

    .service .wrap {
        margin-bottom: 28px;
    }

    .service .col-md-6:nth-last-child(3) .wrap {
        margin-bottom: 28px;
    }

    .service .col-md-6:nth-last-child(2) .wrap,
    .service .col-md-6:nth-last-child(1) .wrap {
        margin-bottom: 0;
    }

    /* ---- End Service Page ----  */


    /* ---------  */

    .why-choose .wrap:last-child {
        margin-bottom: 16px;
    }

    .why-choose .col-lg-3:last-child .wrap:last-child {
        margin-bottom: 0;
    }

    /* -------  */

    .pricing .bg-img {
        height: 1424px;
    }

    /* ---------  */

    .digitizing {
        padding-bottom: 48px;
    }

    .digitizing .img::before {
        display: none;
    }

    .digitizing .two-btn .btn1 {
        top: 80px;
        left: -15px;
    }

    .digitizing .two-btn .btn2 {
        top: 80px;
        left: -15px;
    }


    .process .bg-img {
        height: 830px;
    }

    .process .wrap {
        margin-bottom: 30px;
    }

    .process .txt p {
        font-size: 16px;
    }

    /* ---------------------  */

    .blog .txt h5 span {
        display: unset;
    }

    .blog .wrap {
        margin-bottom: 32px;
    }

    .blog .col-md-6:last-child .wrap {
        margin-bottom: 0;
    }

    /* ---- End About _us Page ----  */



    /* ---- Start faqs Page ----  */


    .faqs h4 {
        font-size: 36px;
    }


    /* ---- End faqs Page ----  */

    .contact_us{
        padding-top: 64px;
        padding-bottom: 64px;
    }
    /* ---- Footer ----  */

    /* footer .row:first-child .col-lg-6 {
        display: none;
    } */
    footer .wrap {
        text-align: center;
    }

    footer .row:first-child .txt {
        text-align: center;
        max-width: 100%;
    }

    footer .row:first-child .img {
        text-align: center;
    }

    footer .footer-detial {
        border: none;
        margin-top: 0;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    footer .footer-detial .col-lg-4 {
        display: flex;
        justify-content: center !important;
        margin-bottom: 20px;
    }

    footer .footer-bottom {
        margin-top: 0px;
        padding-bottom: 32px;
    }

    footer .footer-bottom .row {
        flex-direction: column-reverse;
    }

    footer .footer-bottom ul {
        justify-content: center;
    }

    footer .footer-bottom .col-lg-7 {
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    footer .footer-bottom p {
        position: relative;
        display: inline-block;
        padding-left: 69px;
    }

    footer .footer-bottom p span {
        position: absolute;
        top: 0;
        left: 0;
    }

    footer .footer-bottom p span img {
        max-width: 64%;
    }
}


@media(max-width:767px) {

    h2,
    h2 span {
        font-size: 30px;
        line-height: 45px;
    }

    h3,
    h3 span {
        font-size: 30px;
    }

    /* header {
        padding-top: 20px;
    } */

    /* section {
        overflow-x: clip;
    } */
    .quality h2 {
        font-size: 42px;
        line-height: 52px;
    }

    .we-make h2 {
        font-size: 30px;
        line-height: 45px;
    }

    .easty-step h3 {
        font-size: 30px;
        line-height: 45px;
    }

    header .nav-flex .btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        padding: 6px 20px;
        color: var(--cf);
        border-radius: 30px;
        font-family: 'P-Regular';
        border: 1px solid var(--cf);
    }

    header .navbar-brand {
        width: 40%;
        padding: 5px 5px 0;
    }

    header .navbar-brand::before {
        height: 110px;
    }

    .popup,
    .popup1,
    .popup2 {
        width: 90%;
    }

    .sig-up label,
    .sig-up p,
    .sig-up a {
        font-size: 16px;
    }

    /* .home_hero {
        padding-top: 160px;
        padding-bottom: 210px;
    } */

    /* .home_hero .bg-img {
        height: 520px;
    } */


    .quality .bg-img {
        height: 1150px;
    }

    .quality .product-wrap {
        left: 2%;
        bottom: 4%;
        width: 32%;
    }

    .quality .shirt-img img {
        max-width: 75%;
        margin: auto;
    }

    .quality .product-wrap {
        width: 25%;
    }

    .quality .product-wrap .txt {
        padding: 8px 4px 15px;
    }

    .quality .product-wrap h6 {
        font-size: 10px;
        line-height: 110%;
        margin-bottom: 4px;
    }

    .quality .product-wrap p {
        font-size: 14px;
    }

    .quality .title_sec h3,
    .quality .title_sec h3 span {
        font-size: 20px;
        line-height: 150%;
    }

    .service {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    /* ---- Start Our Service Page ----  */
    .service .col-md-6:nth-last-child(3),
    .service .col-md-6:nth-last-child(2) {
        margin-bottom: 28px;
    }


    /* ---- End Our Service Page ----  */


    /* ---- End faqs Page ----  */
    .faqs {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .faqs .accordion-item {
        padding: 16px 20px;
    }

    .faqs .faqs-wrap h2,
    .faqs .faqs-wrap h2 .accordion-button {
        font-size: 20px;
        line-height: 130%;
    }

    .faqs .faqs-wrap .txt1 {
        padding: 20px 20px;
        align-self: center;
    }

    .faqs .faqs-wrap .txt2 {
        padding: 20px 8px 20px 0px;
    }

    /* ---- End faqs Page ----  */

    /* -------------------------- */


    .digitizing .two-btn .bbtn {
        font-size: 14px;
        padding: 10px 28px;
        left: 0;
    }

    .pricing .nav-tabs {
        flex-wrap: nowrap;
        overflow-x: scroll;
        white-space: nowrap;
        margin-bottom: 20px;
    }

    .pricing .nav-tabs .nav-link {
        padding: 10px 24px;
        font-size: 12px;
    }

    .pricing .bg-img {
        height: 1980px;
        top: -120px;
    }

    .who-we {
        overflow-x: clip;
    }

    .who-we .img {
        text-align: center;
    }


    .who-we .who-img {
        /* display: none; */
        max-width: 52%;
        bottom: -5%;
    }

    .who-we .who-img .play-icon {
        font-size: 1rem;
        line-height: 48px;
        width: 48px;
        height: 48px;
        transform: translate(-20%, -46%);
    }


    .easty-step .wrap .txt {
        padding: 0 32px;
    }

    .digitizing .two-btn {
        position: relative;
    }

    .digitizing .two-btn .bbtn {
        position: absolute;
        top: 30px;
        left: 0;
    }

    .digitizing .two-btn .btn2 {
        left: auto;
        right: 0;
    }

    .we-offer img:last-child {
        margin-bottom: 14px;
    }

    .we-offer .col-md-5 img:last-child {
        margin-bottom: 0;
    }

    .testimonials {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .testimonials .slider-arrows .slider-arrow {
        top: auto;
        bottom: 0;
    }

    .testimonials .slider-arrows .prev {
        left: 34%;
    }

    .testimonials .slider-arrows .next {
        right: 34%;
    }

    footer .txt p {
        font-size: 14px;
    }

    footer .footer-detial p {
        font-size: 14px;
    }

    footer .footer-detial p spans {
        display: block;
    }
}

@media(max-width:767px) and (min-width:560px) {
    header .navbar-brand::before {
        height: 170px;
    }
}

@media(max-width:561px) and (min-width:460px) {
    header .navbar-brand::before {
        height: 130px;
    }
}

@media(max-width:360px) {

    header .navbar-brand::before {
        height: 100px;
    }
}