@font-face {
    font-family: "Impact";
    src: url("../font/impact.ttf");
}

@font-face {
    font-family: "P-Light";
    src: url("../font/AdventPro-Light.ttf");
}

@font-face {
    font-family: "P-Regular";
    src: url("../font/AdventPro-Regular.ttf");
}

@font-face {
    font-family: "P-Medium";
    src: url("../font/AdventPro-Medium.ttf");
}

@font-face {
    font-family: "P-SemiBold";
    src: url("../font/AdventPro-SemiBold.ttf");
}

@font-face {
    font-family: "P-Bold";
    src: url("../font/AdventPro-Bold.ttf");
}


/* ------ Start general css ------  */
* {
    padding: 0;
    margin: 0;
    font-family: "T-Regular";
}

body {
    color: var(--ct);
    background-color: rgba(250, 250, 250, 0.404);
}

:root {
    --c0: #000000;
    --cf: #ffffff;
    --ct: #1D1E27;
    --c1: #012B50;
    --c2: #FFA701;
    /* --c2: #FC5630; */
    --c3: #62E2E5;
    --c4: #282828;
    --c5: #F5F5F5;
    --c6: #454545;
}

.img img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
    color: var(--c1);
    text-transform: uppercase;
    font-family: "Impact";
    margin-bottom: 20px;
}

h1,
h1 span {
    font-weight: 400;
    font-size: 80px;
    line-height: 98px;
}

h2,
h2 span {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.05em;
}

h3,
h3 span {
    font-weight: 400;
    font-size: 48px;
    line-height: 86px;
    letter-spacing: 0.105em;
}

h4,
h4 span {
    font-weight: 400;
    font-size: 28px;
    line-height: 135.87%;
    letter-spacing: 0.105em;
}

h5,
h5 span {
    font-weight: 400;
    font-size: 24px;
    line-height: 135.87%;
    letter-spacing: 0.105em;
}

p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    font-family: "P-Medium";
    margin: 0;
}

a {
    /* color: #fff; */
    text-decoration: none;
    font-family: "P-Regular";
}

.bbtn {
    font-weight: 400;
    font-size: 24px;
    font-family: 'P-Regular';
    line-height: 30px;
    padding: 15px 52px;
    color: var(--cf);
    border-radius: 30px;
    border: none;
    display: inline-block;
    text-transform: uppercase;
    background-color: var(--c2);
    filter: drop-shadow(0px 4px 10px rgba(98, 226, 229, 0.63));
}

.btn-white {
    color: var(--c4);
    filter: unset;
    background-color: var(--cf);
}

.btn-blue {
    color: var(--cf);
    filter: unset;
    background-color: var(--c1);
}

.btn-yellow {
    color: var(--cf);
    filter: unset;
    background-color: var(--c2);
}

.btn-outline {
    font-size: 20px;
    color: var(--cf);
    border: 1px solid var(--cf);
    background-color: unset;
    box-shadow: unset;
    filter: unset;
}

.btn-outline:hover {
    color: #000;
    border: 1px solid transparent;
    background-color: var(--cf);
}


.btn-outline-yellow {
    font-size: 20px;
    color: var(--c2);
    border: 1px solid var(--c2);
    background-color: unset;
    box-shadow: unset;
    filter: unset;
}

.btn-outline-yellow:hover {
    color: var(--cf);
    border: 1px solid transparent;
    background-color: var(--c2);
}

.quote-btn {
    text-align: center;
    margin-top: 70px;
}

/* section{
    overflow: hidden;
} */
ul {
    padding: 0;
}

ul li {
    list-style: none;
}

.row>* {
    padding-right: 15px;
    padding-left: 15px;
}

.slick-list {
    padding: 0 !important;
}

.bg-img {
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 856px;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.slider-arrows .slider-arrow {
    position: absolute;
    top: 48%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: var(--cf);
    border-radius: 50%;
    background-color: var(--c1);
}

.slider-arrows .slider-arrow:hover,
.slider-arrows .slick-disabled {
    color: #001F39;
    background: var(--cf);
    border: 1px solid #D0D0D0;
}

.slider-arrows .prev {
    left: 4%;
}

.slider-arrows .next {
    right: 4%;
}

/* ------  */
/* -----  */


/* ------ End general css ------  */

/* ---- Start header ---  */


header {
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100%;
}

/* 
header .bg-img {
    top: 0;
    z-index: 0;
} */

header .navbar {
    padding: 0;
}

header .navbar .navbar-toggler {
    color: var(--cf);
}

header .navbar .navbar-toggler i {
    font-size: 34px;
}

header .navbar-nav {
    align-items: center;
}

header .navbar-brand {
    position: relative;
    padding: 10px 20px 5px;
    display: inherit;
    background-color: var(--cf);
}

header .navbar-brand img {
    position: relative;
}

header .navbar-brand .lg-white {
    display: none;
}

header .navbar-brand::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 180px;
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/icons/logo-bg.svg);


    /* right: 0;
    bottom: -57px;
    width: 0;
    height: 0;
    border-left: 132px solid transparent;
    border-right: 132px solid transparent;
    border-top: 58px solid #fff; */
}



header .navbar-nav .nav-link {
    position: relative;
    color: var(--cf);
    font-weight: 800;
    font-family: 'P-Regular';
    font-size: 18px;
    line-height: 150%;
    margin-right: 22px;
    padding: 0 !important;
    text-transform: capitalize;
}

header .navbar-nav .nav-link.active {
    color: var(--cf);
}

header .navbar-nav .nav-link.active::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -10px;
    height: 9px;
    width: 9px;
    margin: auto;
    text-align: center;
    border-radius: 50px;
    background-color: var(--cf);
}

header .navbar-nav .nav-link:hover::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -10px;
    height: 9px;
    width: 9px;
    margin: auto;
    text-align: center;
    border-radius: 50px;
    background-color: var(--cf);
}

header .navbar-nav .nav-link:hover {
    color: var(--cf);
}

header .navbar-nav .btn {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    padding: 8px 40px;
    color: var(--cf);
    border-radius: 30px;
    font-family: 'P-Regular';
    border: 1px solid var(--cf);
}

/* // sticky header */
.default_sticky.affix {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    padding: 0;
    background-color: var(--c1);
}

header.affix .navbar-brand {
    padding: 10px 0;
    background-color: unset;
}

header.affix .navbar-brand .lg-white{
    display: block;
}
header.affix .navbar-brand .lg-red{
    display: none;
}

header.affix .navbar-brand::before {
    display: none;
}

header .navbar-collapse {
    /* flex-direction: column; */
    justify-content: end;
}

header .nav-tb-collapse {
    width: 100%;
}

header .navbar-nav .nav-link.active,
header .navbar-nav .nav-link.show {
    color: var(--cf);
}

header .navbar-nav .dropdown-menu li {
    position: relative;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

header .navbar-nav .dropdown-menu li a {
    padding-bottom: 0;
}

header .navbar-nav .dropdown-menu li::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    border: 0.3px solid #707070;
}

header .navbar-nav .dropdown-menu li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

header .navbar-nav .dropdown-menu li:last-child::before {
    display: none;
}

header .navbar-collapse .top {
    text-align: center;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid #3A3A3A;
}

header.affix .navbar-collapse .top {
    display: none;
    border-bottom: 1px solid #fff;
}

header .navbar-collapse .top a {
    font-size: 18px;
    font-weight: 400;
    color: var(--cf);
    margin-right: 24px;
    font-family: "p-Regular";
}

header .navbar-collapse .top a:last-child {
    margin-right: 0;
}

header .navbar-collapse .top a i {
    margin-right: 10px;
}

header .bottom .navbar-nav {
    justify-content: end;
}

/* // sticky header ends */

/* ---- End header ---  */



/* ------ Start Home Page -----  */

/* --- Start Home_Hero ----  */
/* .home-slider{
    position: relative;
} */
.main_home {
    position: relative;
}

.home_hero {
    position: relative;
    padding-top: 335px;
    padding-bottom: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_hero::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 0;
    background-color: #000;
}

.home_hero .txt {
    position: relative;
}

.home_hero h5 {
    color: var(--cf);
    font-size: 20px;
    line-height: 22px;
    font-family: 'P-Regular';
}

.home_hero h1 {
    color: var(--cf);
}

.home_hero h1 span {
    color: var(--c2);
}


.main_home .slick-dotted.slick-slider {
    margin-bottom: 0;
}

.home-slider .slick-dots {
    top: 48%;
    right: 8%;
    left: auto;
    bottom: auto;
    width: 22px;
    /* margin: auto; */
}

.home-slider .slick-dots li {
    display: block;
    /* margin-left: auto; */
    margin-bottom: 10px;
}

.home-slider .slick-dots li button:before {
    font-size: unset;
    color: unset;
    width: 19px;
    height: 19px;
    opacity: 1;
    border-radius: 50px;
    border: 1px solid var(--cf);
}

.home-slider .slick-dots li.slick-active button:before {
    color: unset;
    opacity: 1;
    background-color: var(--cf);
}




/* .home_hero .item{
    
} */
.social-icon {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 55px;
    /* margin: auto; */
}

.social-icon ul {
    width: 55px;
}

.social-icon li {
    position: relative;
    margin-bottom: 20px;
}


.social-icon li:last-child {
    margin-bottom: 0;
}

.social-icon li .sl-detail {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 250px;
    z-index: -1;
    height: 55px;
    padding: 8px 10px 8px 67px;
    border-radius: 50px;
    background-color: rgba(217, 217, 217, 0.8);
}

.social-icon li .sl-detail p {
    font-family: 'P-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #101010;
}

.social-icon li:hover .sl-detail {
    display: block;
    transition: 0.5s all ease-in-out;
}

/* --- End Home_Hero ----  */

/* ----- Start Quality ----  */

.quality {
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;
    background-color: var(--cf);
}

.quality .arr-down {
    position: absolute;
    top: -54px;
    height: 104px;
    width: 104px;
    right: 0;
    left: 0;
    margin: auto;
}

.quality h2 {
    font-size: 64px;
    color: var(--c0);
    line-height: 70px;
}


/* ----- End Quality ----  */

/* ---- start we-make ---  */
.we-make {
    position: relative;
    padding-top: 180px;
    padding-bottom: 180px;
    /* background-color: var(--c1); */
}

.we-make .bg-img {
    height: 690px;
    top: 0;
}

.we-make .txt {
    color: var(--cf);
}

.we-make h2 {
    font-size: 40px;
    color: var(--cf);
    line-height: 50px;
}

/* ---- end we-make ---  */

/* ---- Start brand ---  */
.brands {
    position: relative;
    padding-top: 95px;
    padding-bottom: 95px;
}

.brands .brands-logo .img {
    margin-bottom: 40px;
}

.brands .brands-logo .col-md-5:nth-last-child(1) .img {
    margin-bottom: 0;
}

/* --- End brands ---  */


/* --- Start easty-step ---  */
.easty-step {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #201C1C;
}

.easty-step .title_sec {
    margin-bottom: 50px;
}

/* .easty-step .title_sec h2 */


.easty-step h3 {
    font-size: 32px;
    color: var(--c2);
}

.easty-step h3 span {
    color: var(--c2);
}

.easty-step .wrap {
    color: var(--cf);
    text-align: center;
}

.easty-step .wrap img {
    max-width: 40%;
    margin: auto;
}

.easty-step .wrap .txt h5 {
    color: var(--c2);
    /* font-size: 20px; */
    margin: 20px 0 10px;
}

.easty-step .wrap .txt p {
    font-size: 14px;
}

.easty-step .slider-arrows .slider-arrow {
    top: 55%;
    box-shadow: 0 0px 6px 1px #7f809785;
}

.easty-step .slick-slide {
    padding: 0 20px;
}

/* --- End easty-step ---  */

/* ---- Start we-offer ---  */
.we-offer {
    position: relative;
    margin-top: 105px;
    margin-bottom: 105px;
}

.we-offer h2 {
    color: #201C1C;
}

.we-offer img {
    width: 100%;
    margin-bottom: 14px;
}

.we-offer img:last-child {
    margin-bottom: 0;
}

/* ---- End we-offer ---  */


/* ------ Start Our Service Page -----  */

.service {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
}

.service .title_sec {
    margin-bottom: 68px;
}

.service h3 span {
    color: var(--c2);
}

.service .wrap {
    position: relative;
    margin-bottom: 50px;
}

.service .col-md-6:nth-last-child(3) .wrap,
.service .col-md-6:nth-last-child(2) .wrap,
.service .col-md-6:nth-last-child(1) .wrap {
    margin-bottom: 0;
}

.service .info {
    padding: 0 28px 28px;
}

.service .wrap::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 68%;
    z-index: -1;
    border-radius: 20px;
    background-image: url(../img/icons/sers-bg-01.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service .img img {
    width: 100%;
}

/* .service .col-l-g */

.service .txt {
    margin-top: 24px;
}

.service .wrap h5 {
    margin-bottom: 12px;
}

.service .wrap p {
    font-size: 14px;
}

.service .wrap .btn {
    color: var(--c2);
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0;
    text-transform: uppercase;
    text-decoration: underline;
}

.service .wrap .btn:active {
    border: none;
}


/* ------ End Our Service Page -----  */


/* ----- Start pricing ----  */
.pricing {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.pricing .bg-img {
    height: 995px;
    opacity: 0.5;
}

.pricing .arr-down {
    position: absolute;
    top: -50px;
    height: 104px;
    width: 104px;
    right: 0;
    left: 0;
    margin: auto;
}

.pricing h3 span {
    color: var(--c2);
}

.pricing .pricing-nav {
    display: flex;
    justify-content: center;
}

.pricing .nav-tabs {
    padding: 5px;
    border-radius: 50px;
    margin-bottom: 45px;
    background-color: var(--cf);
}

.pricing .nav-tabs .nav-link {
    font-size: 20px;
    line-height: 26px;
    font-family: 'P-Regular';
    font-weight: 600;
    padding: 20px 50px;
    border-radius: 50px;
    color: #6B6B6B;
    border: none;
}

.pricing .nav-tabs .nav-link:focus {
    border: none;
    border-color: unset;
}

.pricing .nav-tabs .nav-link.active,
.pricing .nav-tabs .nav-link:hover {
    border: none;
    border-color: unset;
    color: #070707;
    background-color: #B1B1B1;
}

.pricing .wrap {
    border-radius: 10px;
    background-color: var(--cf);
}

.pricing .title_sec {
    text-align: center;
    margin-bottom: 34px;
}

.pricing .head {
    color: var(--cf);
    text-align: center;
    padding: 18px 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: #dddddd;
}

.pricing .head h4 {
    font-family: 'P-Regular';
    font-weight: 500;
    font-size: 34px;
    line-height: 37px;
    color: #222222;
    letter-spacing: 0.08em;
    margin-bottom: 0;
    text-transform: capitalize;
}

.pricing .content {
    padding: 28px 30px;
}

.pricing .content ul li {
    position: relative;
    text-align: center;
    /* padding-left: 36px; */
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.pricing .content ul li::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    width: 85%;
    margin: auto;
    border-bottom: 3px solid #EFEFEF;
}

/* .pricing .content ul li::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 26px;
    height: 42px;
    background-image: url(../img/icons/pin-pricing.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.pricing .content ul li:last-child::after {
    display: none;
}

.pricing .content ul li:last-child {
    padding-bottom: 0;
    margin-bottom: 20px;
}

.pricing .bottom {
    display: flex;
    align-items: end;
    text-align: center;
    justify-content: space-evenly;
    padding: 15px 10px;
    border-radius: 0px 0px 10px 10px;
    background-color: #f2f2f2;
}

.pricing .bottom a {
    font-family: 'P-Regular';
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;
    padding-bottom: 18px;
    margin-bottom: 0;
}

.pricing .bottom a span {
    color: #C9163B;
}

.pricing .price .dollar {
    position: relative;
    top: -30px;
    font-family: 'P-Regular';
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    color: #474747;
}

.pricing .price .piece {
    font-family: 'P-Regular';
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #474747;
}

.pricing .price .numb {
    font-family: 'P-Regular';
    font-weight: 400;
    font-size: 70px;
    line-height: 76px;
    color: #474747;
}


/* ----- End pricing ----  */

/* --- Start why-choose ---  */
.why-choose {
    position: relative;
    margin-top: 65px;
    margin-bottom: 65px;
}

.why-choose .title_sec {
    text-align: center;
    margin-bottom: 40px;
}

.why-choose .wrap {
    margin-bottom: 16px;
}

.why-choose .wrap:last-child {
    margin-bottom: 0;
}

.why-choose .info {
    text-align: center;
    padding: 32px 20px;
    border-radius: 10px;
    background-color: #EFEFEF;
}

.why-choose .info h5 {
    font-size: 16px;
    color: #253E54;
    font-weight: 600;
    margin-bottom: 8px;
    font-family: "p-Regular";
    text-transform: uppercase;
}

/* --- End why-choose ---  */

/* --- Start checkout ---  */
.checkout {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--cf);
}

.checkout::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    margin: auto;
    border-bottom: 2px solid var(--c5);
}

.checkout .container {
    position: relative;
    z-index: 2;
}

.checkout .bg-img {
    top: 0;
    z-index: 1;
    height: 1397px;
}

.checkout .title_sec {
    text-align: center;
    margin-bottom: 16px;
}

.checkout h3 span {
    color: var(--c2);
}

/* --- End checkout ---  */

/* ----- Start digitizing ---  */
.digitizing {
    position: relative;
    padding-top: 80px;
    padding-bottom: 190px;
    background-color: var(--cf);
}

.digitizing .container {
    position: relative;
    z-index: 2;
}

.digitizing .title_sec {
    text-align: center;
    margin-bottom: 52px;
}

.digitizing h3 {
    margin-bottom: 0px;
}

.digitizing h3 span {
    color: var(--c2);
}

.digitizing .img {
    position: relative;
}

.digitizing .img::before {
    position: absolute;
    content: '';
    top: auto;
    bottom: -15%;
    left: auto;
    right: 85%;
    width: 206px;
    height: 122px;
    z-index: 1;
    background-image: url(../img/icons/dot-line-3.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.digitizing .dig2::before {
    top: auto;
    bottom: 38%;
    left: auto;
    right: -29%;
    background-image: url(../img/icons/dot-line-2.svg);
}

.digitizing .two-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.digitizing .two-btn .btn1 {
    position: relative;
    top: 55px;
    left: -75px;
}

.digitizing .two-btn .btn2 {
    position: relative;
    top: -115px;
    left: 40px;
}

.digitizing .digi-lock-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -90px;
    width: 20%;
    margin: auto;
    text-align: center;
}

.digitizing .digi-lock-img h5 {
    position: relative;
    font-size: 30px;
    font-weight: 400;
    color: var(--c3);
    margin-top: 47px;
    padding-top: 40px;
}

.digitizing .digi-lock-img h5::before {
    position: absolute;
    content: '';
    top: -40px;
    right: 0;
    left: 0;
    width: 2px;
    height: 38px;
    margin: auto;
    background-color: var(--c2);
}

.digitizing .digi-lock-img .img::before {
    display: none;
}

/* --- End digitizing ---  */


/* ----- Start process ---- */
.process {
    position: relative;
    padding-top: 40px;
    padding-bottom: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/process-bg.png);
}

.process .bg-img {
    top: -65px;
    z-index: 0;
    height: 655px;
}

.process .container {
    position: relative;
    z-index: 1;
}

.process .title_sec {
    text-align: center;
    margin-bottom: 46px;
}

.process h3 {
    color: var(--cf);
}

.process .wrap {
    align-items: center;
}

/* .process .wrap img {
    max-width: 60%;
} */

.process .txt {
    /* text-align: center; */
    color: var(--cf);
    margin-top: 10px;
}

.process .txt h3 {
    color: var(--cf);
    margin-bottom: 4px;
}

.process .txt p {
    font-size: 14px;
}

/* ----- End process ---- */

/* --- Start testimonials ---  */
.testimonials {
    position: relative;
    padding-top: 115px;
    padding-bottom: 115px;
}

.testimonials .title_sec {
    text-align: center;
    margin-bottom: 40px;
}

.testimonials .title_sec h5 {
    color: #222222;
    margin-bottom: 8px;
}

.testimonials .title_sec h3 {
    color: #222222;
    margin-bottom: 0;
}

.testimonials .item {
    padding: 0 12px;
}

.testimonials .wrap {
    padding: 30px 20px 7px;
    border-radius: 0 0 10px 10px;
    border-bottom: 14px solid #D3D7DB;
    box-shadow: 0 0 10px #1b1b1d2c;
    background-color: var(--cf);
}

.testimonials .txt {
    text-align: center;
}

.testimonials .txt img {
    margin: auto;
}

.testimonials .txt p {
    margin-top: 24px;
}

.testimonials .profile {
    margin-top: 24px;
}

.testimonials .profile img {
    margin: auto;
}

.testimonials .profile h6 {
    font-size: 16px;
    font-weight: 500;
    color: #201C1C;
    margin-top: 6px;
}
.slick-dots li button{
    border-radius: 50px;
    border: 2px solid #031526;
}
.slick-dots li button:before{
    font-size: 52px;
    color: transparent;
    opacity: 1;
    line-height: 20.7px;
}
.slick-dots li.slick-active button:before{
    opacity: 1;
}


/* --- End testimonials ---  */



/* --- Start blog ---- */

.blog {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
}

.blog .bg-img {
    top: 0;
    height: 845px;
}

.blog .title_sec {
    text-align: center;
    margin-bottom: 42px;
}


.blog h3 {
    margin-bottom: 10px;
}

.blog h3 span {
    color: var(--c2);
}

.blog .img {
    position: relative;
}

.blog .img img {
    width: 100%;
    border-radius: 16px;
}


.blog .date {
    position: absolute;
    left: 0;
    bottom: 0;
}

.blog .date p {
    color: var(--cf);
    font-family: 'P-Regular';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    padding: 4px 8px;
    border-radius: 0 0 0 16px;
    background-color: #FF5926;
}

.blog .txt {
    margin-top: 20px;
}

.blog .txt h5 {
    color: #222222;
    font-size: 18px;
    margin-bottom: 10px;
}

.blog .txt h5 span {
    color: #222222;
    font-size: 18px;
    display: block;
}

.blog .txt p {
    font-size: 14px;
}

.blog .txt a {
    font-weight: 600;
    font-size: 16px;
    line-height: 144.7%;
    color: var(--c2);
    display: inline-block;
    margin-top: 6px;
    text-transform: uppercase;
    text-decoration: underline;
}

.blog .slick-list {
    padding: 20px 0 !important;
}

.blog .item {
    padding: 0 20px;
}

.blog .slick-slide.slick-current .item {
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
}

/* --- End blog ---- */


/* ---- Start contact_us ---  */
.contact_us {
    position: relative;
    padding-top: 120px;
    padding-bottom: 20px;
}

.contact_us .bg-img {
    top: 0;
    z-index: 1;
    height: 895px;
}

.contact_us .container {
    position: relative;
    z-index: 2;
}

.contact_us .title_sec {
    text-align: center;
    margin-bottom: 56px;
    color: var(--cf);
}

.contact_us h3 {
    color: var(--cf);
    margin-bottom: 10px;
}

.contact_us h3 span {
    color: var(--c2);
}

.contact_us .form-group {
    margin-bottom: 15px;
}

.contact_us .form-group .bbtn {
    margin-top: 30px;
}

.contact_us label {
    color: #d7d7d7;
    font-size: 20px;
    font-family: 'P-Regular';
    line-height: 138.11%;
    text-transform: capitalize;
    padding: 0.375rem 0.75rem;
}

.contact_us .form-control {
    color: #d7d7d7;
    font-size: 20px;
    font-family: 'P-Regular';
    line-height: 138.11%;
    border: none;
    border-radius: unset;
    border-bottom: 1px solid #d7d7d7;
    background-color: transparent;
}

.contact_us .form-control:focus {
    box-shadow: unset;
}

/* ---- End contact_us ---  */



/* ----------------------------------- */
/* ------ End Home Page -----  */
/* ------------------------- */



/* --------- Start Banner_hero ---------  */

.banner_hero {
    position: relative;
    padding-top: 322px;
    padding-bottom: 249px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner_hero h2 {
    color: var(--cf);
}

/* --------- End Banner_hero ---------  */

/* ------ Start About_us Page -----  */

/* --- Start About_us ---  */
.about_us {
    position: relative;
    margin-bottom: 87px;
}

.about_us .about-wrap {
    padding-top: 77px;
    padding-bottom: 87px;
    background-image: url(../img/icons/about-us-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about_us h4 {
    margin-bottom: 4px;
}

.about_us h3 {
    margin-bottom: 0px;
}

.about_us h3 span {
    color: var(--c2);
}

.about_us .video-img {
    position: relative;
    border-radius: 20px;
}

.about_us .video-img img {
    border-radius: 20px;
}

.about_us .video-img::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    border-radius: 20px;
    background-color: #000;
}

.about_us .video-img .play-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: var(--c0);
    font-size: 2rem;
    line-height: 89px;
    padding: 0;
    width: 89px;
    height: 89px;
    border-radius: 50px;
    background: #fff;
}

.about_us .video-img img {
    width: 100%;
}

.about_us .modal {
    --bs-modal-width: 65%;
}

.about_us .modal .modal-content {
    height: 380px;
    color: var(--cf);
    background-color: var(--c0);
}

/* --- End About_us ---  */

/* --- Start What-We-do ---  */
.what-do {
    position: relative;
    margin-top: 60px;
    margin-bottom: 100px;
    background-image: url(../img/icons/what-we-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.what-do .title_sec {
    margin-bottom: 94px;
}

.what-do .title_sec h3 {
    margin-bottom: 0;
}

.what-do .title_sec h3 span {
    color: var(--c2);
}

.what-do .txt h3 {
    color: var(--c4);
}

.what-do .mrg-btm {
    margin-bottom: 30px;
}

/* --- End What-We-do ---  */

/* ------ End About_us Page -----  */


/* --------- Start Srevice detail ---  */
.service-detail {
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
}

/* --------- End Srevice detail ---  */


/* -------  */

.contact_page {
    background-color: var(--c1);
}

.contact_page .bg-img {
    display: none;
}

/* -----  */


/* ------ Start Our faqs Page -----  */

.faqs {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
}

.faqs .title_sec {
    margin-bottom: 68px;
}

.faqs h4 {
    font-size: 80px;
}

.faqs h3 span {
    color: var(--c2);
}

.faqs .accordion-button::after {
    background-image: url(../img/icons/plus-icon.svg);
}

.faqs .accordion-button:not(.collapsed)::after {
    background-image: url(../img/icons/plus1-icon.svg);
}

.faqs .faqs-wrap h2,
.faqs .faqs-wrap h2 .accordion-button {
    font-family: "Impact";
    font-size: 24px;
    line-height: 150%;
    color: var(--c1);
    padding: 0;
}

.faqs .faqs-wrap h2 .accordion-button:focus-visible {
    outline: none;
}

.faqs .faqs-wrap h2 .accordion-button:focus {
    border: none;
    box-shadow: none;
}

.faqs .faqs-wrap .txt1 {
    font-family: "Impact";
    font-size: 32px;
    line-height: 150%;
    width: 8%;
    text-transform: uppercase;
    text-align: left;
    padding: 40px 20px;
    margin-right: 37px;
    border-right: 1px solid #B1B1B1;
}

.faqs .faqs-wrap .txt2 {
    font-family: "P-Regular";
    width: 80%;
    padding: 40px 0px;
}

.faqs .faqs-wrap .accordion-body {
    padding: 20px 0;
}

.faqs .faqs-wrap .accordion-body .txt1 {
    color: var(--c2);
    width: 8%;
}

.faqs .accordion {
    --bs-accordion-bg: none;
    --bs-accordion-border-radius: 10px;
}

.faqs .accordion-button:not(.collapsed) {
    background: #FFFFFF;
    box-shadow: none;
}

.faqs .accordion-item {
    border: none;
    padding: 16px 34px;
    background: #FFFFFF;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(158, 156, 156, 0.25);
}

/* ------ End Our faqs Page -----  */













/* ---Start Footer ---  */

footer {
    position: relative;
    padding-top: 49px;
    /* padding-bottom: 80px; */
    background-image: url(../img/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer .txt {
    margin-top: 32px;
    max-width: 370px;
}

footer .wrap h5 {
    margin-top: 21px;
}

footer .top-space {
    padding-top: 74px;
}

footer .wrap ul li a {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    font-family: "P-Regular";
    line-height: 24px;
    color: var(--c6);
    margin-bottom: 8px;
    text-transform: capitalize;
}

footer .footer-detial {
    margin-top: 88px;
    padding-top: 26px;
    border-top: 3px solid #E2E2E2;
}

footer .footer-detial p {
    position: relative;
    padding-left: 32px;
}

footer .footer-detial p span {
    position: absolute;
    top: 1px;
    left: 0px;
}

footer .footer-detial .col-lg-4:last-child {
    display: flex;
    justify-content: end;
}

footer .footer-detial .col-lg-4:last-child .content {
    text-align: right;
}

footer .footer-bottom {
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: 80px;
    background-color: var(--c2);
}

footer .footer-bottom p {
    color: var(--cf);
}

footer .footer-bottom ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: end;
}

footer .footer-bottom ul li {
    color: var(--c0);
    width: 51px;
    height: 51px;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
    margin-right: 20px;
    line-height: 51px;
    background-color: #fff;
}

footer .footer-bottom ul li a {
    color: var(--c0);
}

/* ---End Footer ---  */


/* form ----  */

.sig-up h4 {
    color: var(--cf);
    text-align: center;
}

.sig-up .form-wrap {
    position: relative;
}

.sig-up .form-group {
    margin-bottom: 15px;
}

.sig-up label {
    color: #d7d7d7;
    font-size: 20px;
    font-family: 'P-Regular';
    line-height: 138.11%;
    text-transform: capitalize;
    padding: 0.375rem 0.75rem;
}

.sig-up .form-control {
    color: #d7d7d7;
    font-size: 20px;
    padding: 0 0.75rem;
    font-family: 'P-Regular';
    line-height: 138.11%;
    border: none;
    border-radius: unset;
    border-bottom: 1px solid #d7d7d7;
    background-color: transparent;
}

.sig-up .form-control:focus {
    box-shadow: unset;
}

.sig-up .bbtn {
    width: 100%;
    margin-top: 24px;
    padding: 10px 24px;
    text-align: center;
}

.sig-up .bbtn:hover {
    color: var(--cf);
}


/* form ----  */

/* --------  */

body.show-popup {
    overflow-y: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.80;
    z-index: 6;
    display: none;
    background-color: #000;
}

.popup,
.popup1,
.popup2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 40%;
    margin: 40px auto 20px;
    z-index: 7;
    color: var(--cf);
    padding: 30px;
    border-radius: 5px;
    background-color: var(--c1);
}

.popup {
    margin: 5px auto;
}

.sig-up p {
    font-size: 18px;
    font-weight: 500;
    font-family: "P-Regular";
    color: var(--cf);
    text-transform: capitalize;
}

.sig-up a {
    font-size: 18px;
    font-weight: 500;
    font-family: "P-Regular";
    color: var(--cf);
    text-transform: capitalize;
}

.sig-up a:hover {
    color: var(--c2);
}

.close,
.close1,
.close2 {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: #FDFDFD;
    font-size: 20px;
    text-decoration: none;
}

/* .close:hover,
.close1:hover {
    background-color: #004598;
    transition: all 0.3s ease-out;
} */


/* ----  */